[Desktop Entry]
Version=1.0
Name=TV Ripper
Comment=Rip TV DVDs.
Exec=RIPPER/activator "run tv"
Path=RIPPER
Icon=RIPPER/icons/tv-ripper.svg
Terminal=true
Type=Application
Categories=Utility;Application;Development;
StartupWMClass=gui.TvRipGuiRunner
